spring:
  application:
    name: auth-service

  data:
    mongodb:
      uri: mongodb://localhost:27017/auth-db
    redis:
      host: localhost
      port: 6379
      timeout: 2000ms
      connect-timeout: 2000ms

  jackson:
    serialization:
      write-dates-as-timestamps: false

server:
  port: 8081

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,prometheus
  endpoint:
    health:
      show-details: always
  prometheus:
    metrics:
      export:
        enabled: true

logging:
  level:
    '[com.authservice]': DEBUG
    '[org.springframework.data.mongodb]': DEBUG
    root: INFO

jwt:
  secret: mySecretKey
  expiration: 86400000  # 24 hours in milliseconds
